################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/QapGenV2025/.vs/QapGen/v15
/src/QapGenV2025/QapGen/Debug
/src/QapGenV2025/QapGen/Release
*.iobj
*.ipdb
*.pdb
/src/QapGenV2025/Debug
/src/QapGenV2025/Release/QapGen.exe
/src/QapGenV2025/QapGen/ReleaseO2
/src/QapGenV2025/ReleaseO2
/src/QapGenV2025/Release/QapGenStable.exe
/src/QapGenV2025/habr_stat_anna/node_modules
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_monthly.json
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_weekly.json
