################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/QapGenV2025/.vs/QapGen/v15
/src/QapGenV2025/QapGen/Debug
/src/QapGenV2025/QapGen/Release
*.iobj
*.ipdb
*.pdb
/src/QapGenV2025/Debug
/src/QapGenV2025/Release/QapGen.exe
/src/QapGenV2025/QapGen/ReleaseO2
/src/QapGenV2025/ReleaseO2
/src/QapGenV2025/Release/QapGenStable.exe
/src/QapGenV2025/habr_stat_anna/node_modules
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_monthly.json
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_weekly.json
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_daily.json
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_yearly.json
/src/QapGenV2025/habr_stat_anna/qapdsl_v2_visual.png
/src/QapGenV2025/habr_stat_anna/top_hubs_by_rating.json
/src/QapGenV2025/habr_stat_anna/canvas.js
/src/QapGenV2025/habr_stat_anna/20250629
/src/QapGenV2025/habr_stat_anna/habr_articles_stats2.json
/src/QapGenV2025/habr_stat_anna/habr_articles_stats.json
/src/QapGenV2025/Release/test.json
/src/QapGenV2025/Release/test1.json
/src/QapGenV2025/habr_stat_anna/20250701
/src/QapGenV2025/Release/QapGen(last_survive).exe
/src/QapGenV2025/habr_stat_anna/20250702/habr_hubs_stats_programming_daily.json
/src/QapGenV2025/habr_stat_anna/20250703/habr_hubs_stats_programming_daily.json
/src/QapGenV2025/habr_stat_anna/top_hubs_by_rating_filtered.json
/src/QapGenV2025/habr_stat_anna/20250704
/src/QapGenV2025/habr_stat_anna/20250705
/src/QapGenV2025/Release/QapGen20250706.exe
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_weekly0.json
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_monthly0.json
/src/QapGenV2025/habr_stat_anna/habr_hubs_stats_programming_daily0.json
/src/QapGenV2025/Release/QapGenMegaFast.exe
/src/QapGenV2025/habr_stat_anna/out
/stable/.vs/QapGen/v15
/stable/Debug
/stable/QapGen/Debug
/stable/CommonUnit.exe
/stable/CommonUnit.obj
